__pycache__/
.env/
*.db
*.sqlite3
*.log
.cache/
.vscode/
.idea/
*.pyc
.venv/
venv/
ENV/

/lib/
/site-packages/
*.log
docker-compose.override.yml
.docker/

node_modules/
.DS_Store
*.swp

.git/